* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(17, 17, 56);
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: #0ef;
  font-size: 1.3rem;
}
.left {
  font-size: 1.8rem;
  transition: 0.5s;
}
.left:hover {
  color: #0ef;
  cursor: text;
}
.right {
  font-size: 1.2rem;
}
.firstSection {
  display: flex;
  margin: 23px 0;
  justify-content: space-around;
  align-items: center;
}
.firstSection > div {
  width: 50%;
  margin-top: 60px;
}
.p1-1 {
  font-size: 20px;
  color: #0ef;
  margin-left: 230px;
}
.h1-1 {
  font-size: 50px;
  margin-left: 150px;
}
#button1 {
  position: relative;
  background-color: rgb(17, 17, 56);
  border: #0ef 4px solid;
  font-size: 23px;
  color: #ffffff;
  padding: 20px;
  width: 170px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 252px;
  margin-top: 30px;
}

#button1:hover {
  opacity: 0.8;
  transition: 0.15s;
  /* color: rgb(17, 17, 56); */
}

#button1:after {
  content: "";
  background: #0ef;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

#button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.leftSection {
  font-size: 2rem;

  /* margin-left: 25px; */
}
/* .rightSection {
      
  } */
.rightSection img {
  width: 60%;
}
.hi {
  font-size: 2.4rem;
}
.name-word {
  color: #0ef;
}
.linebeforeSec2 {
  width: 60%;
  margin-left: 250px;
  margin-top: 148px;
  margin-bottom: 30px;
}
/* #secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
    margin-top: 125px;
  }
  #secondSection h1 {
    font-size: 2rem;
  }
  .text-gray {
    color: gray;
  }
  .box {
    display: flex;
    background: white;
    height: 3px;
    width: 78vw;
    margin: 130px 0;
    justify-content: space-around;
    margin-bottom: 300px;
  }
  
  #secondSection .vertical {
    background-color: #fffff7;
    height: 70px;
    width: 2px;
   
  }
  .img-top {
    width: 60px;
    position: relative;
    top: -68px;
    left: -30px;
  }
  .img-top2 {
    width: 60px;
    position: relative;
    top: -57px;
    left: -30px;
  }
  .img-top4 {
    width: 50px;
    position: relative;
    top: -60px;
    left: -24px;
  }
  .img-top5 {
    width: 80px;
    position: relative;
    top: -45px;
    left: -30px;
  }
  .vertical-title {
    position: relative;
    top: 20px;
    width: 140px;
    font-size: 16px;
  }
  .vertical-desc {
    position: relative;
    top: 30px;
    width: 140px;
    font-size: 12px;
    color: grey;
  }
  .vertical-title1 {
    position: relative;
    top: 35px;
    width: 140px;
    font-size: 16px;
  }
  .vertical-desc1 {
    position: relative;
    top: 47px;
    width: 140px;
    font-size: 12px;
    color: grey;
  }
  .vertical-title4 {
    position: relative;
    top: 30px;
    width: 150px;
    font-size: 16px;
  }
  .vertical-desc4 {
    position: relative;
    top: 40px;
    width: 140px;
    font-size: 12px;
    color: grey;
  }
  .vertical-title5 {
    position: relative;
    top: 50px;
    width: 140px;
    font-size: 16px;
  }
  .vertical-desc5 {
    position: relative;
    top: 55px;
    width: 140px;
    font-size: 12px;
    color: grey;
  } */
footer {
  background-color: rgb(17, 17, 56);
  position: relative;
  /* top: 150px;
    width: 1345px;
    left: -127px; */
}
.footerContainer {
  width: 90vw;
  padding: 70px 30px 20px;
  margin-left: 74px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: rgb(17, 17, 56);
  opacity: 0, 9;
}
/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: rgb(17, 17, 56);
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: #0ef;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
color: #0ef;
}
.footerBottom {
  background-color: rgb(17, 17, 56);
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}
#thirdSection {
  margin-left: 130px;
  height: 80vh;
  max-width: 80vw;
  margin-top: 100px;
  display: flex;
}
.about {
  margin-right: 50px;
  width: 600px;
  margin-top: 20px;
  text-align: center;
}

#thirdSection h1 {
  font-size: 2.7rem;
  margin-bottom: 20px;
  margin-left: 45px;
}
#thirdSection p {
  font-size: 17px;
  line-height: 1.7;
  opacity: 0.8;
  width: 457px;
  align-items: center;
  padding-left: 45px;
  margin-left: 83px;
}

#thirdSection img {
  width: 225px;
  height: 226px;
  position: relative;
  top: 76px;
  left: 34px;
}
.w3-opacity {
  width: 200px;
  opacity: 0.6;
  position: relative;
  left: 225px;
  /* margin-top: 0px; */
  top: -15px;
  margin-bottom: 10px;
  border-bottom: #0ef 2px solid;
}

/* .linebeforefooter{
  width: 60%;
    margin-left: 250px;
    margin-bottom: 30px;
} */
.inner {
  padding-top: 20px;
}
.headerSkills {
  text-align: center;
  padding: 1rem;
  margin-top: 50px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem 140px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 57px;
}
.w4-opacity {
  width: 150px;
  opacity: 0.6;
  position: relative;
  left: 586px;
  /* margin-top: 0px; */
  top: -13px;
  margin-bottom: 10px;
  border-bottom: #0ef 2px solid;
}
.fourth-section h1 {
  font-size: 2.7rem;
  margin-bottom: 20px;
}
.skill-box {
  padding: 1rem 3rem;
  cursor: pointer;
  width: 435px;
}
.skill-box p {
  font-size: 15px;
  opacity: 0.99;
  color: gray;
}
.skill-box p:hover {
  color: white;
  opacity: 100%;
  transition: 0.8s;
}
.imgskills {
  margin-bottom: 6px;
  border-radius: 47%;
  background-color: white;
  height: 56px;
  width: 56px;
  display: flex;
  position: relative;
  left: 139px;
  align-items: center;
  justify-content: center;
}
.skill-icon {
  width: 50px;
}
.img-skills img {
  width: 150px;
  height: 150px;
}
.linebeforeSec4 {
  width: 60%;
  margin-left: 250px;
  margin-bottom: 30px;
}

.linebeforeSec5 {
  width: 60%;
  margin-left: 250px;
  /* margin-bottom: 30px; */
  margin-bottom: 128px;
  margin-top: 88px;
  /* margin-top: ; */
}
.fifthSection {
  height: 90vh;
  width: 50vw;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
}
.fifthSection h1 {
  font-size: 2.7rem;
  margin-bottom: 7%;
  margin-left: 275px;
}
.emailBox {
  margin-bottom: 13px;
  margin-left: 100px;
  height: 49px;
  font-size: 20px;
  border: aqua 3px solid;
  border-radius: 8px;
  background: transparent;
  color: white;
  user-select: none;
  padding: 15px;
  outline: none;
}
#messageBox {
  margin-left: 100px;
  border: #0ef 3px solid;
  border-radius: 8px;
  font-size: 15px;
  height: 250px;
  margin-bottom: 18px;
  color: white;
  background-color: transparent;
  padding: 15px;
  /* user-select: none; */
  outline: none;
}
/* #messageBox select option:disabled {
  } */
.send-message {
  width: 100px;
  height: 48px;
  font-size: 20px;
  border-radius: 8px;
  border: #0ef 3px solid;
  outline: none;
  color: rgb(17, 17, 56);
  font-weight: 600;
  background: #0ef;
  cursor: pointer;
  margin-left: 340px;
}
/* .w5-opacity {
  width: 290px;
  opacity: 0.6;
  position: relative;
  left: 248px;
  /* margin-top: 0px; */
  /* top: -35px;
  margin-bottom: 10px;
  border-bottom: #0ef 2px solid; */

  /* project section */
  /* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
.project-text{
  position: relative;
  left: 300px;
}
.project-text{
  text-align: center;
    margin-right: 610px;
    margin-top: 130px;
    margin-bottom: 33px;
}
/* .project-text p{
  margin-right: 32px;
  margin-bottom: 5px;
  color: #0ef;
  opacity: 0.70;
  
  
} */
.w5-opacity {
  width: 190px;
  opacity: 0.6;
  position: relative;
  left: 275px;
  /* margin-top: 0px; */
  top: -5px;
  margin-bottom: 10px;
  border-bottom: #0ef 2px solid;
}