* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(17, 17, 56);
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: #0ef;
  font-size: 1.3rem;
}
.left {
  font-size: 1.8rem;
  transition: 0.5s;
}
.left:hover {
  color: #0ef;
  cursor: text;
}
.right {
  font-size: 1.2rem;
}
.firstSection {
  display: flex;
  margin: 23px 0;
  justify-content: space-around;
  align-items: center;
}
.firstSection > div {
  width: 30%;
  margin-top: 60px;
}
.leftSection {
  font-size: 2rem;

  /* margin-left: 25px; */
}
/* .rightSection {
    
} */
.rightSection img {
  width: 60%;
}
.hi {
  font-size: 2.4rem;
}
.name-word {
  color: #0ef;
}
.linebeforeSec2 {
  width: 80%;
  margin-left: 100px;
  margin-top: 120px;
  margin-bottom: 30px;
}
#secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
  margin-top: 125px;
}
#secondSection h1 {
  font-size: 2rem;
}
.text-gray {
  color: gray;
}
.box {
  display: flex;
  background: white;
  height: 3px;
  width: 78vw;
  margin: 130px 0;
  justify-content: space-around;
  margin-bottom: 300px;
}

#secondSection .vertical {
  background-color: #fffff7;
  height: 70px;
  width: 2px;
  /* margin: 0 100px; */
}
.img-top {
  width: 60px;
  position: relative;
  top: -68px;
  left: -30px;
}
.img-top2 {
  width: 60px;
  position: relative;
  top: -57px;
  left: -30px;
}
.img-top4 {
  width: 50px;
  position: relative;
  top: -60px;
  left: -24px;
}
.img-top5 {
  width: 80px;
  position: relative;
  top: -45px;
  left: -30px;
}
.vertical-title {
  position: relative;
  top: 20px;
  width: 140px;
  font-size: 16px;
}
.vertical-desc {
  position: relative;
  top: 30px;
  width: 140px;
  font-size: 12px;
  color: grey;
}
.vertical-title1 {
  position: relative;
  top: 35px;
  width: 140px;
  font-size: 16px;
}
.vertical-desc1 {
  position: relative;
  top: 47px;
  width: 140px;
  font-size: 12px;
  color: grey;
}
.vertical-title4 {
  position: relative;
  top: 30px;
  width: 150px;
  font-size: 16px;
}
.vertical-desc4 {
  position: relative;
  top: 40px;
  width: 140px;
  font-size: 12px;
  color: grey;
}
.vertical-title5 {
  position: relative;
  top: 50px;
  width: 140px;
  font-size: 16px;
}
.vertical-desc5 {
  position: relative;
  top: 55px;
  width: 140px;
  font-size: 12px;
  color: grey;
}
footer{
  background-color: rgb(17, 17, 56);
  position: relative;
  /* top: 150px;
  width: 1345px;
  left: -127px; */
}
.footerContainer{
  width: 90vw;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: rgb(17, 17, 56);
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: rgb(17, 17, 56);
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: #0ef;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: rgb(17, 17, 56);
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}
#thirdSection{
  margin-left: 130px;
  height: 80vh;
  max-width: 80vw;
  margin-top: 100px;
  display: flex;
}
.about{
  margin-right: 50px;
  width: 600px;
}

#thirdSection h1 {
  font-size: 2rem;
  margin-bottom: 7px;
}
#thirdSection p{
  font-size: 17px;
  line-height: 1.5;
}
#thirdSection img{
  width: 300px;
  height: 290px;
  
}