* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(17, 17, 56);
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a{
  list-style: none;
  color: white;
  text-decoration: none; 
}
nav ul li a:hover{
  color: rgb(140, 163, 255);
  font-size: 1.3rem;
}
.left {
  font-size: 1.5rem;
}
.right {
  font-size: 1.2rem;
}
.firstSection {
  display: flex;
  margin: 23px 0;
  justify-content: space-around;
  align-items: center;
}
.firstSection > div {
  width: 30%;
  margin-top: 60px;

}
.leftSection {
  font-size: 2rem;
  
  /* margin-left: 25px; */

}
/* .rightSection {
    
} */
.rightSection img{
    width: 80%;
}
.hi{
  font-size: 3.5rem;
}
.name-word{
  color: purple;
}